@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;400;700&display=swap');
.feedback-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: #fff;
  }
  
.welcome-container {
    position: relative;
    margin-left: 120px;
    padding: 10px;
  }

.welcome-container p {
    padding-top: 10px;
}

.feedback-container h1 {
    margin-top: 150px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    background-image: url("../../../public/images/texture.jpeg");
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

.feedback-form {
    position: relative;
    margin-top: 250px;
    margin-left: 60px;
  }

textarea {
    font-family: 'Inter';
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1A1A1A;
    color: #fff;
  }

.feedbacks {
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
}