/* .movie-container {
    align-items: center;
  } */
  
  /* .movie_img {
    width: 200px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px 0 0;
  } */
  
  /* .movie-details {
    display: inline-block;
    width: 3%;
  } */
  
  .movie-title {
    font-size: 24px;
    margin-top: 10px;
    padding: 5px;
  }