@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: aliceblue;
  background-color: #141414;
  background-image: url("../public/images/cover3.png");
  background-size: auto;
}
a {
  text-decoration: none;
}
ul {
  justify-content: space-between;
  list-style-type: none;
}
.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 90%;
  margin: auto;
}
.row {
  width: 50%;
}
.flex{
  display: flex;
}


