.about {
  color: #fff;

}

.containerFlex {
  display: flex;
  flex-direction: column;
}

.containerFlex {
  padding: 60px 10px 40px 10px;
}

.about h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 800;
  background-image: url("../../../public/images/texture.jpeg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
    
.about .types {
  margin: 30px 0;
}
    
.about p {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px 500px 0px 0px;
  font-weight: 500;
  opacity: 0.8;
}
    
.aboutTypes h4 {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 18px;
}

.aboutTypes h4 span {
  color: #e50813;
}